.register-form{
    width:100%;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.register-form form{
    width:700px;
}
.img-car{
    margin:15px auto; 
    padding:10px;
    width:100%;
    position:relative;
    height:690px;
}

.img-car img{
    width:100%;
    height:100%;
    border-radius: 0.4rem;
    animation: animate 10s linear infinite;
}
@keyframes animate{
     0%{ opacity: 0.1; }
    10%{ opacity: 0.2; }
    20%{ opacity: 0.5; }
    30%{ opacity: 0.7; }
    40%{ opacity: 0.8; }
    50%{ opacity: 0.10; }
    60%{ opacity: 0.8; }
    70%{ opacity: 0.7; }
    80%{ opacity: 0.5; }
    90%{ opacity: 0.2; }
    100%{ opacity: 0; }
    
}
.img-car:hover .arrow{
    opacity:0.5;
}
.arrow{
    transition:0.2s ease all;
    font-size: 55px;
    color:white;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-radius:50%;
    cursor: pointer;
    opacity:0;
    height:80%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-l{
    left:2%;
}
#arrow-l:hover{
    opacity:1;
}
.arrow-r{
    right:2%;
}
#arrow-r:hover{
    opacity: 1;
}

.myContainer{
    display:flex;
    justify-content: left;
    align-items: center;
    flex-wrap:wrap;
    padding: 10px 0;
}
.card{        
    margin:0.5%;
    padding:10px;
    box-shadow:0 0 6px black;
    overflow:hidden;
    width: 24%;
}
.img-hider{
    height:200px;
    overflow:hidden;
}
.flex img{
    border-radius: 20px;
    margin:20px;
}
.scalable-image:hover{
    transition:0.3s ease all;
    transform: scale(1.7);
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card img{
    width:100%;
    height:100%;
}

.flex{
    flex-basis: 50%;
    flex-wrap: wrap;

}
.myImg{
    max-height:600px;
}
@media only screen and (max-width:1440px){
    .card{
        width:31.5%;
        margin:10px auto;

    }
}
@media only screen and (max-width:1000px){
    .card{
        width:47%;
        margin:10px auto;
    }
    .flex{
        flex-basis: 100%;
    }
    .newContainer{
        flex-direction: column;
    }

}
@media only screen and (max-width:700px){
    .img-car{
        display: none;
    }
    .myImg{
        width:500px;
    }
}

@media only screen and (max-width:550px){
    .card{
        width:90%;
        margin:15px auto 20px auto;
    }
    .img-car{
        height:400px;
        width:99%;
        margin:20px auto;
    }
    .myImg{
        width:400px;
    }
}
